/* A few bits of CSS specific to styling the help page. Author: Tom CLayton */

.sc {
  max-width: 300px;
  height: auto;
  left: 500px;
  margin: 50px;
}

.box {
  position: relative;
  display: block;
}
