
body {
    background-image: url("resources\\background.png");
}

h1{color:white;
   text-align:center;
}

.STYLE1 {
    text-align:center;
    font-size: 9px
}

.sb{
    margin-left:43%
}

.sb1{
    margin-top:20px
}

.sb2{
    margin-left:43%
}

.sb4{
    margin-top:20px
}

.sb5{
    margin-left:50%
}

h4{
    font-size:9px
}
 